*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pattern.jpg);
    /* position: fixed; */
}

/* .top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

} */

nav{
    width: 100%;
    background: white;
    overflow: auto;

     
}

ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
   
   

}

li{
    float: right;
}
.logo{
     display: flex;
}
.logo img{
    position: absolute;
    margin-left: 10px;
    width: 200px;
   
}

nav a{
    width: 75px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial;
    text-align: center;
    color: rgb(50, 14, 255);
     
    position: relative;
   
    
}
nav a:hover{
    transition: 0.5s;
    text-transform: uppercase;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
}

section{
padding: 20px;
}
h1{
    text-align: center;
    font-family: serif;
    font-size:30px;
}

#article-list{
    margin top: 100px;
    padding: 10px;
    margin bottom: 10px;
}



.footer{
    background-color: black;
    padding: 10px;
}
.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 15px;
   
}

